nav a {
  text-decoration:none;
  color:#002e5b; 
  font-size:18px; 
  font-weight: bold;
  padding: 25px 35px; 
  display:inline-block; 
  transition: all 0.5s ease 0s;
  float: right;
}
nav a:hover{
  background-color:blue; 
  color:#fde428; 
  transition: all 0.5s ease 0s;
}

header{
  overflow:hidden;
  background-color:#fde428; 
  margin-top: 0 !important;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

nav{
  margin-right:7%;
}

#logo{
  font-size:20px; 
  text-transform:uppercase; 
  color:#002e5b; 
  font-weight:bold;
  float:left;
  padding: 20px; 
  margin-left:17%;
}



h1{
  margin:0px auto; 
  font-size:26px; 
  padding:40px 0px; 
  color:#002e5b; 
  text-align:center;
}

h1 span{
  font-weight:400;
}

section{
  width:100%; 
  max-width:1200px; 
  margin:0px auto; 
}
.content{
  margin-bottom:60px;
  width:750px;

}
.content h2{
  font-size:18px; 
  font-weight:bold; 
  color:#002e5b; 
  border-bottom:1px solid #fde428;
  padding-bottom:10px; 
  margin-bottom:10px;
}


.container {
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 220px));
  position: relative;
  justify-content: space-between;
  max-width: 1200px;
  padding: 20px;
  border: 1px solid;

}

.card {
  width:100%;
  overflow: hidden;
  border: 1px solid;
  display: grid;
  position: relative;
  justify-content: space-between;

 
}
h4 {
  font-weight: bold;
  font-style: italic;
}

h5{
  color:#fde428;
}
.card-poster__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__databox {
  grid-gap: 5px;
  width: 100%;
  padding: 25px 30px 20px 30px;
  overflow: hidden;
  background: #fff;
  display: grid;
  position: relative;
  justify-content: space-between;

 
}

.card-databox__heading {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 

}


.card-databox__read-more-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  max-width: fit-content;
  font-size: 13px;
  padding: 5px 20px;
  background: blue;
  border-radius: 12px;

  
}

.card-databox__read-more-btn:hover {
  background: #fde428;
  color: #fff;
}

.go-top {
  font-size:large;
  color:black;
  float: right;
  margin-bottom: 20px;
  margin-right: 25px;
}

.form {
visibility:hidden;
position: fixed;
left: 35%;
top: 100px;
width: 27%;
height:40%;
background-color:white;
border:1px solid

}
.visibleform {
visibility:visible !important;
}
.modal {
display: grid;
grid-gap: 20px;
grid-template-columns: repeat;
justify-content: center;
font-weight: bold;



}
.radiobtn {
position: relative;
justify-content: center;
}
.btns {
display: grid;
grid-template-columns:120px;
grid-gap: 5px;
position: relative;
justify-content: center;
}

.buyitem{
background: blue;
  border-radius: 12px;
  color:white
}

.close {
background: blue;
border-radius: 12px;
color:white
}

.buyitem:hover {
background: #fde428;
color: #fff;
}

.close:hover {
background: #fde428;
color: #fff;
}

footer{
background-color:#fde428; 
overflow:hidden;

}

footer a {
text-decoration:none;
  color:#002e5b; 
  font-size:18px; 
  font-weight: bold;
  padding: 25px 35px; 
  display:inline-block; 
  transition: all 0.5s ease 0s;
  float: left;
}

footer a:hover{
background-color:blue; 
color:#fde428; 
transition: all 0.5s ease 0s;
}


.main {
  margin-top: 30px;
padding: 40px;

}

.sticky {
position: fixed;
top: 0;
width: 100%;

}
.sticky + .main {
padding-top: 102px;

}

.darkTheme{
background:black ;
color:white ;
}

.darkMode {
float: right;
margin-top: 50px;
}

.stack-top{
z-index: 1;
margin: 5px;  
}

.btn-up {

  position: fixed;
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}
